/* reset part */
*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	display: block;
	color: #fff;
}

/* common css */
.clearfloat{
	zoom:1;
}
.clearfloat:after{
	display: block;
	content: "";
	clear: both;
	visibility: hidden;
	height: 0;
}
html{
	font-size: 625%;
}
body{
	font-family: "Microsoft Yahei", verdana;
	color: #fff;
}
h1{
	font-size: 0.6rem;
	color: #FFDD55;
	text-shadow:0.02rem 0.03rem #282828,0.04rem 0.04rem #FFDD55;
	line-height: 1.8em;
}
p{
	font-size: 0.2rem;
	line-height: 1.5em;
}
h3{
	font-size: 0.24rem;
	color: #FFDD55;
	line-height: 1.6em;
}
.section{
	text-align: center;
}
.public-container{
	width:80%;
	margin: 0 auto;
}
/* profile part css */
.profile img{
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	border: 0.05rem solid #f39c12;
	display: block;
	margin: 0 auto;
}
.profile h1{
	color: #000;
	text-shadow:0.02rem 0.03rem #FFDD55,0.04rem 0.04rem #000;
	margin-top: 800px;
}
.profile p{
	color: rgba(0,0,0,0.7);
}
.profile .position{
	font-size: 0.24rem;
	color: #000;
}
.profile .email{
	color: #000;
	font-size: 0.18rem;
}
.profile .quote{
	font-size: 0.16rem;
	color: rgba(0,0,0,0.9);
}
/* project part css */
.projects .item{
	width: 48%;
	float: left;
	padding: 1%;
}
.projects .item a{
	background: #FFDD55;
	position: relative;
	color: #282828;
}
.projects .item .icon{
	font-size: 70%;
}
.projects .item h3{
	color: #282828;
}
.projects .item .link{
	display: none;
	position: absolute;
	right: 3%;
	top: 0;
	font-size: 0.3rem;
}
.projects .item ul {
	margin: 5%;
}
.projects .item ul li{
	font-size: 0.2rem;
	text-align: left;
}
.projects .item a:hover {
	background: #f39c12;
}
.projects .item a:hover .link {
	display: block;
}

/* skills part css */
.skills .item{
	width: 1.5rem;
	height: 1.5rem;
	position: relative;
	display: inline-block;
}
.skills .item .name{
	font-size: 0.225rem;
	position: absolute;
	top: 42.5%;
	left: 50%;
}
.skills .item .name span{
	display: block;
	position: relative;
	left: -50%;
}
.skills .wrapper{
	position: absolute;
	width: 0.75rem;
	height: 1.5rem;
	top: 0;
	overflow: hidden;
}
.skills .right{
	right: 0;
}
.skills .left{
	left: 0;
}
.skills .item .circle{
	width: 1.2rem;
	height: 1.2rem;
	border: 0.15rem solid #fff;
	border-radius: 50%;
	position: absolute;
	top: 0;
}
.skills .item .circle-right{
	border-top: 0.15rem solid #FFDD55;
	border-right: 0.15rem solid #FFDD55;
	right: 0; /*整个圆左移了*/
	-webkit-animation:Load-right 5s linear forwards;
	animation:Load-right 5s linear forwards;
}
@keyframes Load-right{
    0%{
        transform: rotate(-135deg);
    }
    50%,100%{
        transform: rotate(45deg);
    }
}
@-webkit-keyframes Load-right{
    0%{
        -webkit-transform: rotate(-135deg);
    }
    50%,100%{
        -webkit-transform: rotate(45deg);
    }
}
@-moz-keyframes Load-right{
    0%{
        -moz-transform: rotate(-135deg);
    }
    50%,100%{
        -moz-transform: rotate(45deg);
    }
}
.skills .item1 .circle-left{
	border-bottom: 0.15rem solid #FFDD55;
	border-left: 0.15rem solid #FFDD55;
	left: 0; 
	-webkit-animation:Load-left1 5s linear forwards;
	animation:Load-left1 5s linear forwards;
}
@keyframes Load-left1{
    0%,50%{
        transform: rotate(-135deg);
    }
    100%{
        transform: rotate(-9deg);
    }
}
@-webkit-keyframes Load-left1{
    0%,50%{
        -webkit-transform: rotate(-135deg);
    }
    100%{
        -webkit-transform: rotate(-9deg);
    }
}
@-moz-keyframes Load-left1{
    0%,50%{
        -moz-transform: rotate(-135deg);
    }
    100%{
        -moz-transform: rotate(-9deg);
    }
}
.skills .item2 .circle-left{
	border-bottom: 0.15rem solid #FFDD55;
	border-left: 0.15rem solid #FFDD55;
	left: 0; 
	-webkit-animation:Load-left2 5s linear forwards;
	animation:Load-left2 5s linear forwards;
}
@keyframes Load-left2{
    0%,50%{
        transform: rotate(-135deg);
    }
    100%{
        transform: rotate(-45deg);
    }
}
@-webkit-keyframes Load-left2{
    0%,50%{
        -webkit-transform: rotate(-135deg);
    }
    100%{
        -webkit-transform: rotate(-45deg);
    }
}
@-moz-keyframes Load-left2{
    0%,50%{
        -moz-transform: rotate(-135deg);
    }
    100%{
        -moz-transform: rotate(-45deg);
    }
}
.skills .item3 .circle-left{
	border-bottom: 0.15rem solid #FFDD55;
	border-left: 0.15rem solid #FFDD55;
	left: 0; 
	-webkit-animation:Load-left3 5s linear forwards;
	animation:Load-left3 5s linear forwards;
}
@keyframes Load-left3{
    0%,50%{
        transform: rotate(-135deg);
    }
    100%{
        transform: rotate(-99deg);
    }
}
@-webkit-keyframes Load-left3{
    0%,50%{
        -webkit-transform: rotate(-135deg);
    }
    100%{
        -webkit-transform: rotate(-99deg);
    }
}
@-moz-keyframes Load-left3{
    0%,50%{
        -moz-transform: rotate(-135deg);
    }
    100%{
        -moz-transform: rotate(-99deg);
    }
}
.skills .item4 .circle-left{
	border-bottom: 0.15rem solid #FFDD55;
	border-left: 0.15rem solid #FFDD55;
	left: 0; 
	-webkit-animation:Load-left4 5s linear forwards;
	animation:Load-left4 5s linear forwards;
}
@keyframes Load-left4{
    0%,50%{
        transform: rotate(-135deg);
    }
    100%{
        transform: rotate(-117deg);
    }
}
@-webkit-keyframes Load-left4{
    0%,50%{
        -webkit-transform: rotate(-135deg);
    }
    100%{
        -webkit-transform: rotate(-117deg);
    }
}
@-moz-keyframes Load-left4{
    0%,50%{
        -moz-transform: rotate(-135deg);
    }
    100%{
        -moz-transform: rotate(-117deg);
    }
}


/* education part css*/
.education .item{
	margin-bottom: 1%;
}
.education .item .icon{
	font-size: 0.3rem;
}
.education .item .honor{
	color: #f39c12;
}
.education .item .course{
	font-size: 0.18rem;
}
.education .item .date,.education .item .location{
	font-size: 0.16rem;
	color: rgba(255,255,255,0.7);
}
/* experience part css*/
.expe .item{
	margin-bottom: 0.5%;
}
.expe .item .date{
	font-size: 0.15rem;
	color: rgba(255,255,255,0.7);
}
.expe .item .desc{
	font-size: 0.17rem;
}
/*down arrow*/
.down span {
	position: absolute;
	bottom: 35px;
	left: 50%;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	border-left: 1px solid #f39c12;
	border-bottom: 1px solid #f39c12;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: nextPage 1.5s infinite;
	animation: nextPage 1.5s infinite;
	box-sizing: border-box;
}
@-webkit-keyframes nextPage {
	0% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-webkit-transform: rotate(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}
@keyframes nextPage {
	0% {
		transform: rotate(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: rotate(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}
/*different resolution*/
@media screen and (max-width: 992px){
	.projects .item{
		width: 80%;
		float: none;
		padding: 0;
		margin:0 auto;
		}
	.projects .item .icon{
		font-size: 70%;
	}
}
@media screen and (max-width: 767px){
	html{
		font-size: 600%;
	}
	.projects .item{
	width: 80%;
	float: none;
	padding: 0;
	margin:1% auto;
	}
	.projects .item .icon{
		font-size: 70%;
	}
	.projects .item ul{
		display: none;
	}
}
@media screen and (max-width: 480px){
	html{
		font-size: 500%
	}
}
@media screen and (max-width: 360px){
	html{
		font-size: 400%
	}
}
@media screen and (max-height: 480px){
	html{
		font-size: 400%
	}
}
@media screen and (max-height: 360px){
	html{
		font-size: 400%
	}
	h1{
		line-height: 1.5em;
	}
	p{
		line-height: 1.3em;
	}
	h3{
		line-height: 1.4em;
	}
}
