.nav-top{
    line-height: 3rem;
    padding: 0 1.5rem;
    background: #555;
    color: #fff;
    border-bottom: 1px #ecc000 solid;
/*    height: 30px;*/
/*    width: 100%;*/
}

.nav-top ul li{
    display: inline-block;
    padding: 0 1.5rem;
}

.nav-top ul li a{
    color: #fff;
}

.nav-top span{
    float: left;
}

.nav-top ul{
    text-align: right;
}

.nav-top ul li+li{
/*    li后面紧跟的兄弟li
    第一个li就没有效果*/
    border-left: 1px #999 solid;
    margin-left: -3px;
/*    inline-block元素之间有间隙
    因为有换行符
    方法1.取消li之间的回车
    但html文档不清晰
    方法2.设置父元素font-size:0
    会增加下边距，文字不垂直居中
    方法3.把li的闭合标签写在写一行
    方法4.把li不闭合，html会自动补
    方法5.设置负边距
    但每个浏览器的边距值可能不同*/
}

.nav-main{

}

.nav-main ul li{
    display: inline-block;
    border-left: 1px solid #f0ede9;
}

.nav-main ul{
    text-align: right;
}

.nav-main .logo img{
    display: block;
}
.nav-main .logo{
    float: left;
    display: block;
    padding: 1.3rem 1.5rem 0;
}

.nav-main ul li a{
    line-height: 5.5rem;
    display: inline-block;
    padding: 0 3rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: #7c7a65;
    text-decoration: none;
}

.nav-main ul li a:hover, .nav-main ul li a:active{
    color: #ffb300;
    background-color: #f8f6f1;
}


/*交易数据*/
/*难点在于.data span和.report a
的inline-block和lineheight和
data/report的padding*/
.transaction{
    background-color: #7c7365;
}

.data{
    float: left;
    padding:1rem;
    height: 3rem;
    color: #fff;
}

.data span{
    display: inline-block;
    line-height: 3rem;
}

.data .money{
    font-size: 2.2rem;
    padding: 0 1rem;
    margin: 0 1rem;
    color: #ff9900;
    background-color: rgba(255,255,255,0.9);
    box-shadow: 1px 2px 1px #333 inset;
    border-radius: 3px;
}

.report{
    text-align: right;
    padding:1rem;
}

.report a{
    display: inline-block;
    line-height: 3rem;
    color: #fff;
}

/*滚动广告*/

/*平台特点*/
/*难点：
item间的间距：+选择器
浮动元素的margin/padding：其实不是这个问题
item的高度是如何决定的：
-由内容撑开，h3大则p不居中，h3小则p居中
item中的内容如何水平垂直居中：
两个margin,padding,line-height同*/

/*老师这个部分的关键在于：
item用inline block，宽度用计算，我直接用32%
h3和p都是用的inline block，宽度百分比
同时给父元素.feature设置了fontsize为0
而我用的是浮动*/

/*注意：使用normalize的时候p和h等有默认的margin和padding
浮动元素的行高默认继承父级的*/


.feature{
    margin:2rem 0;
}
/*在背景色没有区别的时候，直接用的百分比而不用container*/

.feature .item{
    float: left;
    width: 32%;
    padding: 1rem;
    box-sizing: border-box;
    font-size: 1.4rem;
    background-color: #fff;
    box-shadow: 0 0 4px #ccc;
/* 我本来没写padding
我本来没设置box-shadow，而是用border*/
}

.feature .item+.item{
    margin-left: 2%
}

.feature .item h3{
    float: left;
    font-size: 3.5rem;
    color: #ff9900;
    padding: 0 8%;
    margin:30px 0;
}


/*最新公告*/
.notice{
    width: 90%;
    margin: 2rem auto;
    background-color: #fff;
    box-shadow: 0 0 4px #fff;
}

.notice a{
    display: block;
    font-size: 2rem;
    line-height: 3rem;
}

.notice a:first-child {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.notice a:first-child:before {
    content: '最新公告: \00a0\00a0';
    color: #aaa;
}

/*first-child这里用的是老师的代码，
但我觉得直接用.new好像也差不多*/

.notice a span {
    color: #999;
    font-size: 1.2rem;
    margin-right: 1rem;
}

.notice .new{
    float: left;
    margin-left: 2rem;
    text-decoration: none;
    width:70%; /*这个不能省*/
}

.notice .more{
    text-align: right;
    color: #ff9900;
    margin-right: 2rem;
}


/*产品介绍*/
/*难点在于item内三个元素的顶端对齐*/
.product{
    width: 90%;
    margin: 2rem auto;
    background-color: #F5F9FA;
    border-top: 2px #ff9900 solid;
    box-shadow: 0 0 4px #ccc;
    text-align: center;
}

.product h2{
    float: left;
    width: 20%;

}

.product .product-content{
    float: right;
    width: 80%;
    background-color: #fff;
    font-size: 1.5rem;
}

.product-content .item div{
    display: block;
    float: left;
}

.product-content .item .duration{
    width: 23%;
    padding: 2.5rem 0;
}

.product-content .item .info{
    width: 62%;
    padding: 2.5rem 0;
    border-left: 1px solid #eedddd;
    border-right: 1px solid #eedddd;
    box-sizing: border-box;
}

.product-content .item .buy{
    width: 15%;
    padding: 3.5rem 0;
}

.product-content .item .info p{
    margin: 0;
    float: left;
    width: 50%;

}

.product-content .item{
/*    padding: 2rem 0;*/
}

.product-content .item .info .rate,
.product-content .item .info .amount{
    color: #ff9900;
    font-size: 2.5rem;
}

.product-content .item .duration em{
    font-size: 3rem;
    color: #333;
}

.product-content .item .buy a{
    background-color: #ff9900;
    border-radius: 3px;
    padding: 1rem 2rem;
    color: #fff;
}

.product-content .item+.item{
    border-top: 1px solid #eedddd;
}

/*底部导航*/
.nav-bottom{
    background-color: #fff;
}

.nav-bottom .pub-container div,
.nav-bottom .pub-container ul{
    float: left;
}

.nav-bottom .pub-container .logo{
    width: 15rem;
    height: 5rem;
    background: url(../img/logo@1x.png) no-repeat center;
    margin-top: 2rem;
}

.nav-bottom .pub-container ul li a{
    font-size: 1.5rem;
    line-height: 1.5em;
}

.nav-bottom .pub-container ul .title{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.5em;
}

.nav-bottom .pub-container ul{
    margin: 2rem 2.5rem;
}

/*网站底部*/
/*难点：
1. 认证又有图片又要加文字？
2. 通过定位来设置背景图片*/

footer{
    padding: 3rem 0 5rem;
    background-color: #ededed;
}

footer ul li{
    display: inline-block;
}

footer ul{
    text-align: center;
}

footer ul li .icon{
    display: inline-block;
    text-indent: -999rem;
    background: url(../img/cert1.png) no-repeat;
    background-size: 466px 447px;
    margin-right: 1.5rem;
}

footer ul li .icon-zfywxkz{
    background-position: -369px -46px;
    width: 38px;
    height: 27px;
}

footer ul li .icon-pcirk{
    background-position: -110px -96px;
    width: 79px;
    height: 27px;
}

footer ul li .icon-visayz{
    background-position: -426px -90px;
    width: 36px;
    height: 27px;
}

footer ul li .icon-vsjmfw{
    width: 63px;
    height: 27px;
    background-position: -401px -186px;
}

footer ul li .icon-wlgs{
    width: 22px;
    height: 27px;
    background-position: -48px -48px;
}

footer ul li .icon-rzcx{
    width: 75px;
    height: 27px;
    background-position: 0 -320px;
}

footer ul li .icon-gs{
    width: 30px;
    height: 30px;
    background: url(https://os.alipayobjects.com/rmsportal/lybcjqloSPjMAFg.png) no-repeat;
    margin-right: 0;
}
